
    {{>nav_partial}}
    <form action="/form/post" method="GET">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label" >Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Address" name="address">
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>