*{
    --secondary-color: rgb(207, 171, 78);
}

#form .form-title h1 {
    text-align: center;
}

 /* .form-heading::after {
    content: " ";
    position: absolute;
    display: block;
    left: 45%;
    text-align: center;
    bottom: 1;
    width: 10%;
    height: 2px;
    background-color: var(--secondary-color);
} */